<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1280, user-scalable=no" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>appletv</title>
  </head>
  <body style="overflow:hidden">
    <noscript> </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
