/*清除默认样式*/

@charset "utf-8";
* {
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
}

/* html {
    font-size: 62.5%;
} */

body {
  background: transparent;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif !important;
}

/*html4 reset*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
span,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
}

ol,
ul,
li {
  list-style-type: none;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/*html5 reset*/

header,
footer,
section,
nav,
menu,
details,
hgroup,
figure,
figcaption,
article,
aside {
  margin: 0;
  padding: 0;
  display: block;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

:focus {
  outline: none;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../font/CenturyGothic.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../font/CenturyGothicbold.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('../font/PingFangRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family: 'SFUIDisplay-Light';
	src:url('../font/SF-UI-Display-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.welcomedesc h5 {
  text-align: right;
}
