<template>
  <div class="home">
    <el-container>
      <el-header>
        <div class="logo">
          <img :src="logoUrl" />

        </div>
        <div class="left">
          <div class="roomNumber">{{roomNumber}}</div>
          <div class="welcomeMsg">{{welcomeMsg}}</div>
        </div>
        <div class="right">
          <div class="weather">
            <div class="weatherIcon">
              <!-- <img :src="weather.icon"> -->
              <i class="iconfont"
                 :class="weather.icon"></i>

            </div>
            <div class="weatherTemperature">{{weather.temperature}}</div>
          </div>
          <!--日期时间组件-->
          <dateTime />
        </div>
      </el-header>
      <el-main>
        <ul class="box">
          <li v-for="(bigCategory,index) in bigCategorys"
              :key="index"
              :class="{'active':bigCategory.isActive}"
              :style="{backgroundImage:'url(' + bigCategory.bgimgUrl + ')'}">
            <div class="info"><span class="title">{{bigCategory.title}}</span><span class="desc">{{bigCategory.desc}}</span></div>
          </li>
        </ul>

      </el-main>
      <el-footer>
        <el-row>
          <el-button v-for="(buttonGroup,index) in buttonGroups"
                     :key="index"
                     :icon="buttonGroup.icon"
                     circle></el-button>
          <!-- <el-button icon="iconfont icon-shoppingcart1"
                     circle></el-button>
          <el-button icon="iconfont icon-bill2"
                     circle></el-button>
          <el-button icon="iconfont icon-icon-test"
                     circle></el-button> -->

        </el-row>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import dateTime from "@/components/Datetime"; //日期时间组件导入
// import spring, { toString } from 'css-spring'
//  需要带单位
// const keyframes = spring(
//   // from
//   { height: "2.5rem", opacity: 0.8 },
//   // to
//   { height: "11.3125rem", opacity: 1 },
//   { damping: 9, stiffness: 250, precision: 2 }
// )
// // toString 
// const keyframeCss = toString(keyframes, (property, value) => property === 'scaleY'
//   ? `transform:${property}(${value});`
//   : `${property}:${value};`)

// console.log(keyframeCss)
export default {
  name: "home",
  components: {
    dateTime //日期时间组件
  },
  data () {
    return {
      logoUrl: "",
      roomNumber: "Room#: 1205",
      welcomeMsg: "Welcome Mr. Gary",
      weather: { icon: '', temperature: '14°C/22°C' },

      bigCategorys: [
        { bgimgUrl: "http://localhost:8080/img/home/a.png", isActive: true, title: "Movies", desc: "Spiro Agnew was the 39th Vice President of the United States from 1969 until his resignation in 1973. A Republican, ", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/b.png", isActive: false, title: "", desc: "", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/c.png", isActive: false, title: "", desc: "", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/d.png", isActive: false, title: "", desc: "", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/e.png", isActive: false, title: "", desc: "", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/f.png", isActive: false, title: "", desc: "", infoListIds: [] },
        { bgimgUrl: "http://localhost:8080/img/home/g.png", isActive: false, title: "", desc: "", infoListIds: [] },

      ],
      buttonGroups: [
        { icon: 'iconfont icon-tv1', isActive: false },
        { icon: 'iconfont icon-shoppingcart1', isActive: false },
        { icon: 'iconfont icon-bill2', isActive: false },
        { icon: 'iconfont icon-icon-test', isActive: false }],
      languageValue: ""

    }
  },
  created () {
    let weatherData = JSON.parse(localStorage.weatherData);
    console.log(weatherData)
    this.weather.icon = "icon-" + weatherData.today.weatid;
    this.weather.temperature = weatherData.today.temperature;
    this.languageValue = this.$route.params.language ? this.$route.params.language : localStorage.defaultLanguage;
    this.getHomepage();
    this.logoUrl = "http://localhost:8080/img/home/logo.png"
    console.log(this.logoUrl)
    if (localStorage.room) this.roomNumber = this.languageValue == "zh-cn" ? "房间号：" + localStorage.room : "Room#:" + localStorage.room;
    else this.roomNumber = this.languageValue == "zh-cn" ? "设备未注册" : "Drivers unregistered!";
    this.welcomeMsg = this.languageValue == "zh-cn" ? "欢迎您，赵先生！" : "Welcome Mr.Zhao"
  },
  mounted () {
    //监听遥控器|键盘的按键
    let _self = this;
    let curIndex = _self.getCurIndex();

    document.onkeydown = function (e) {
      let key = e.keyCode;
      console.log(key)
      switch (key) {
        case 13:
          console.log("进入分类下的二级页面")
          break;

        case 37:
          curIndex--;
          _self.setCurIndex(curIndex)

          break;

        case 39:
          curIndex++;
          _self.setCurIndex(curIndex)
          break;
        case 38:

          break;

        case 40:

          break;

        default: break;

      }
    }
  },
  methods: {
    getCurIndex () {
      for (let i = 0; i < this.bigCategorys.length; i++) {
        if (this.bigCategorys[i].isActive) {
          return i;
        }
      }
    },
    setCurIndex (index) {
      for (let i = 0; i < this.bigCategorys.length; i++) {
        this.bigCategorys[i].isActive = false;
      }
      this.bigCategorys[index].isActive = true;
    },
    getHomepage () {
      let languageValue = this.languageValue;
      console.log('getHomepage=======================', languageValue)

    }
  }

};
</script>

<style src="./scss/home.scss" lang="scss" scoped></style>

