<template>

  <div class="loading">
    <el-container>

      <div class="title">{{startuptitle}}</div>
      <div class="loadingline">
        <el-progress :show-text="options.showtext"
                     :percentage="options.perceNum"
                     color="rgba(210, 172, 43, 1)"
                     :stroke-width="options.strokewidth"></el-progress>
        <div class="percent-show">Loading . . .</div>
      </div>
      <el-footer>
        <div class="logo"> <img :src="logourl"
               alt=""></div>
        <p>{{desc}}</p>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "loading",
  data () {
    return {
      startuptitle: "VISION",
      logourl: "",
      desc: "a product of haven series",
      defaultLanguage: '',
      options: {
        time: 8000,
        percent: 100,
        width: 667,
        perceNum: 1,
        strokewidth: 4,
        showtext: false
      }
    };
  },
  created () {
    this.getStartPage();
    this.getHotelRoot();

  },
  mounted () {

  },
  methods: {
    // 进度条
    loadings () {
      let that = this;
      let speed = this.options.time / this.options.percent;
      console.log(this.options.time)
      let ts = setInterval(function () {
        if (that.options.perceNum < that.options.percent) {
          that.options.perceNum++;
          if (that.options.perceNum === 100) {
            that.$router.push({
              name: "welcome",
              params: { language: localStorage.defaultLanguage ? localStorage.defaultLanguage : "zh-cn" }
            });
          }
        } else {
          clearInterval(ts);
          ts = null;
        }
      }, speed);
    },




    // 启动页
    getStartPage () {
      let that = this;
      let imgObj = JSON.parse(localStorage.imgObj);
      this.axios
        .get(
          that.$root.DOMAIN +
          "/page/butler_startpage/?" +
          $.param(that.$root.BASEDATA)
        )
        .then(json => {
          console.log("getStartPage", json);
          // 启动页停留时间
          that.options.time = Number(json.data.data.startup.stayTimeSec) * 1000;

          //标题
          that.startuptitle = json.data.data.translates["zh-cn"].startupTitle;
          //底部LOGO
          that.logourl =
            imgObj.data[
              json.data.data.startup.logo.internalImageId
            ].internal_image_url;
          //描述
          that.desc =
            json.data.data.translates["zh-cn"].startupProductDescription;
          that.loadings();

        })
        .catch(function (err) {
          console.log(err);
          that.$notify.error({
            title: "错误",
            message: err.message
          });
        });
    },

    // 酒店根信息
    getHotelRoot () {
      let that = this;
      this.axios.get(
        that.$root.DOMAIN +
        "/page/hotel/?" +
        $.param(that.$root.BASEDATA)
      ).then(json => {
        localStorage.defaultLanguage = json.data.data.defaultLanguage;
        // that.$notify.success({
        //   title: "成功",
        //   message: json.data.data.defaultLanguage
        // });
      }).catch(err => {
        that.$notify.error({
          title: "错误",
          message: err.message
        });
      });
    }
  }
};
</script>
<style src='./scss/loading.scss' lang="scss" scoped>
</style>
