<template>
  <div class="welcome"
       :style="{backgroundImage:'url(' + bgImg + ')'}">
    <div class="logo"><img :src="logoUrl"></div>

    <div class="welcometitle">
      <div class="titles"> {{welcomeTitle}}</div>
      <div class='guestname'
           :class="{'hide': !guestName}">{{guestName}}</div>
    </div>

    <div class="welcomedesc fadein"
         v-html="welcomeDesc"></div>

    <div class="languagebtn">
      <div class="btn"
           :class="{'active':languageValue=='zh-cn'}">中文</div>
      <div class="btn"
           :class="{'active':languageValue=='en'}">English</div>
    </div>
  </div>
</template>

<script>
var $ = require('jquery')
export default {
  name: "loading",
  data () {

    return {
      welcomeTitle: "Distinguished",
      welcomeDesc: "",
      guestName: "Guests,",
      logoUrl: "",
      bgImg: "./img/welcome/bg.png",
      languageValue: "zh-cn",

    };
  },
  created () {
    //保存传递过来的语言参数
    this.languageValue = localStorage.defaultLanguage ? localStorage.defaultLanguage : "zh-cn";
    this.getWelcomePage();
    this.getWeather();

  },
  mounted () {
    //监听遥控器|键盘的按键
    var _self = this;
    document.onkeydown = function (e) {
      var key = e.keyCode;
      console.log(key);
      let welcomeObj = JSON.parse(localStorage.welcomeInfo)
      switch (key) {
        case 13:
          _self.gotoUrl(_self);
          break;

        case 37:

          _self.languageValue = "zh-cn";
          _self.welcomeTitle = welcomeObj.data.translates[_self.languageValue].welcomeTitle;
          _self.welcomeDesc = welcomeObj.data.translates[_self.languageValue].welcomeMessage;
          _self.guestName = _self.languageValue == "en" ? 'Guests' : '';
          localStorage.defaultLanguage = "zh-cn"
          _self.getWeather();
          // _self.getWelcomePage();
          break;

        case 39:
          _self.languageValue = "en";
          _self.welcomeTitle = welcomeObj.data.translates[_self.languageValue].welcomeTitle;
          _self.welcomeDesc = welcomeObj.data.translates[_self.languageValue].welcomeMessage;
          _self.guestName = _self.languageValue == "en" ? 'Guests' : '';
          localStorage.defaultLanguage = "en"
          _self.getWeather();
          // _self.getWelcomePage();
          break;

        default: break;

      }
    }
  },
  methods: {
    gotoUrl (me) {
      if (typeof me != 'undefined') {
        console.log(typeof me, me.languageValue);
        this.$router.push({
          name: "home",
          params: { language: me.languageValue }
        });
      }

    },
    getWelcomePage () {
      let imgObj = JSON.parse(localStorage.imgObj);
      let that = this;
      this.axios
        .get(
          that.$root.DOMAIN + "/page/butler_welcomepage/?" + $.param(that.$root.BASEDATA)
        )
        .then(json => {
          console.log("getWelcomePage", json);
          localStorage.welcomeInfo = JSON.stringify(json.data);
          that.welcomeTitle = json.data.data.translates[that.languageValue].welcomeTitle;
          that.welcomeDesc = json.data.data.translates[that.languageValue].welcomeMessage;
          that.guestName = that.languageValue == "en" ? 'Guests' : '';
          let bgImageId =
            json.data.data.welcome.backgroundImage.internalImageId;
          let welcomeLogoId = json.data.data.welcome.logo.internalImageId;
          // console.log(welcomeLogoId)


          //将图片转成BASE64显示，压缩体积，解决图片载入时加载慢的情况。
          that.$root.imgFormatting(imgObj.data[bgImageId].internal_image_url, function (imgdata) {
            that.bgImg = imgdata
            // console.log(that.bgImg)
          });
          that.$root.imgFormatting(imgObj.data[welcomeLogoId].internal_image_url, function (imgdata) {
            that.logoUrl = imgdata
          });

        })
        .catch(err => {
          console.log(err);
          that.$notify.error({
            title: "发生错误",
            message: err.message
          });
        });
    },

    //获取相应语言的天气预报
    getWeather () {
      let that = this;
      this.axios
        .get(
          that.$root.DOMAIN + "/page/search/?" + $.param(that.$root.BASEDATA) + "&page_type=info_page&lang_agnostic_id=local_weather&lang=" + this.languageValue
        )
        .then(json => {
          console.log("getWeather", json);
          localStorage.weatherData = JSON.stringify(json.data.data.weather_data);
        })
        .catch(err => {
          console.log(err);
          that.$notify.error({
            title: "获取天气预报错误",
            message: err.message
          });
        });
    }

  }
};
</script>
<style src="./scss/welcome.scss" lang="scss" scoped></style>
