<template>
  <div class="dateTime">
    <div class="time">{{time}}</div>
    <div class="date">{{date}}</div>
  </div>
</template>
<script>
export default {
  name: "dateTime",
  data () {
    return {
      date: "",
      time: "",
      languageValue: "",
      weeks: {
        "zh-cn": ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
        "en": ["Sun.", "Mon.", "Tues.", "Wed.", "Thurs.", "Fri.", "Sat."]
      },
      months: {
        "en": ["Jan.", "Feb.", "Mar.", "Apr.", "May.", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."],
        "zh-cn": ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
      }



    }
  },
  created () {

    this.languageValue = localStorage.defaultLanguage;
    this.updateTime();
  },
  mounted () {
    setInterval(() => {
      this.updateTime();
    }, 1000);

  },
  methods: {
    addzero (n) {
      return n > 9 ? n : '0' + n;
    },
    updateTime () {
      let _timestamp = Number(localStorage.nowTime) * 1000;
      let _time = new Date(_timestamp);
      let _year = _time.getFullYear();
      let _month = this.months[this.languageValue][_time.getMonth()];
      let _date = this.addzero(_time.getDate());
      let _day = this.weeks[this.languageValue][_time.getDay()];
      let _hours = this.addzero(_time.getHours());
      let _minutes = this.addzero(_time.getMinutes());
      // let _seconds = this.addzero(_time.getSeconds());
      if (this.languageValue == "zh-cn") {
        this.date = _year + "年" + _month + "月" + _date + "日" + " " + _day;
        this.time = _hours + ":" + _minutes;
      } else if (this.languageValue == "en") {
        this.date = _day + _month + " " + _date + "." + _year;
        this.time = _hours + ":" + _minutes;
      }


    }
  }

}
</script>
<style lang="scss" scoped>
.dateTime {
  width: 10rem;
  float: left;
  border-left: 1px solid #000;
  margin-left: 1.1875rem;
  padding-left: 1.1875rem;
  .time {
    height: 1.8125rem;
    font-size: 1.5rem;
    font-family: CenturyGothic;
    color: rgba(0, 0, 0, 1);
    line-height: 1.8125rem;
  }
  .date {
    height: 1.1875rem;
    font-size: 1rem;
    font-family: CenturyGothic;
    color: rgba(80, 80, 80, 1);
    line-height: 1.1875rem;
  }
}
</style>
