.home {
  width: 100%;
  height: 100%;
  background: url('~@/assets/images/home/bg_line.png') repeat-x;
  position: absolute;
  .el-container {
    width: 100%;
    height: 100%;
    background: #eeedee;
    position: absolute;
    .el-header {
      height: 9.5rem !important;
      .logo {
        width: 4rem;
        height: 3.375rem;
        margin-top: 1.6875rem;
        margin-left: 2.0625rem;

        float: left;
        img {
          height: 100%;
          width: 100%;
        }
      }

      .left {
        width: 18.75rem;
        height: 3.375rem;
        margin-top: 1.6875rem;
        float: left;
        padding-left: 0.6875rem;
        margin-left: 0.6875rem;
        border-left: 1px solid #414141;
        .roomNumber {
          width: auto;
          height: 1.3125rem;
          font-size: 1.0625rem;
          font-family: CenturyGothic;
          color: rgba(129, 129, 129, 1);
          line-height: 1.3125rem;
          margin-top: 0.21875rem;
        }
        .welcomeMsg {
          width: 12.5625rem;
          height: 1.625rem;
          font-size: 1.3125rem;
          font-family: CenturyGothic;
          color: rgba(129, 129, 129, 1);
          line-height: 1.625rem;
        }
      }
      .right {
        width: 18.75rem;
        height: 3.375rem;
        margin-top: 1.6875rem;
        margin-right: -0.375rem;
        float: right;
        .weather {
          width: 5.5625rem;
          float: left;
          text-align: center;
          margin-top: -0.625rem;
          .weatherIcon {
            width: 2.625rem;
            height: 2.625rem;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
            }
            .iconfont {
              font-size: 2.625rem !important;
            }
          }
          .weatherTemperature {
            height: 1.1875rem;
            font-size: 1rem;
            font-family: CenturyGothic;
            color: rgba(34, 28, 28, 1);
            line-height: 1.1875rem;
            letter-spacing: 0.0625rem;
          }
        }
      }
    }
    .el-main {
      height: 26.6875rem !important;
      width: auto;
      overflow-y: hidden;
      // background: green;
      padding: 0;
      .box {
        overflow-x: auto;
        overflow-y: hidden;
        width: auto;
        height: 27.69rem;
        margin: 0;
        padding: 0;
        margin-left: 1.25rem;
        // background: #414141;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        li {
          width: 11.3125rem;
          height: 20.625rem;
          min-height: 20.625rem;
          background: #000;
          margin-left: 0.5625rem;
          background: #000;
          min-width: 11.3125rem;
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          display: flex;
          animation: scaleSmall 0.3s;
          .info {
            display: flex;
            height: 2rem;
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            color: #000;
            padding: 0.5rem;
            // word-break: break-all;
            margin-top: 10.375rem;
            border: none;

            animation: tanhuangsmall 0.3s;
            overflow: hidden;
            span.title {
              display: flex;
              width: 100%;
              height: 2rem;
              max-height: 2rem;
              overflow: hidden;
              align-content: center;
              justify-content: center;
              align-items: center;
              height: 1.5625rem;
              font-size: 1.25rem;
              font-family: CenturyGothic;
              color: rgba(42, 42, 42, 1);
              line-height: 1.5625rem;
            }
            span.desc {
              display: none;
            }
          }
        }
        li.active {
          width: 13.3125rem;
          min-width: 13.3125rem;
          height: 24.6875rem;
          max-height: 24.6875rem;
          animation: scaleBig 0.3s;
          box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.5);

          .info {
            background: #fff;
            color: #000;
            width: 100%;
            height: 11.3125rem;
            margin-top: 12.375rem;
            animation-delay: 0.8s;
            animation: tanhuang 0.3s;
            opacity: 1;
            display: flex;
            flex-direction: column;
            align-self: auto;
            align-content: center;
            align-items: flex-start;
            span.title {
              align-items: center;
              align-content: center;
              width: 100%;
              height: 2rem;
              min-height: 2rem;
              overflow: hidden;
              height: 1.9375rem;
              font-size: 1.5625rem;
              font-family: CenturyGothic;
              color: rgba(25, 25, 25, 1);
              line-height: 1.9375rem;
            }
            span.desc {
              max-height: 22.6875rem;
              overflow: hidden;
              word-break: break-all;
              display: block;
              margin-top: 0.5rem;
              padding: 0 1rem;

              font-size: 16px;
              font-family: SFUIDisplay-Light;
              font-weight: 300;
              color: rgba(100, 100, 100, 1);
              line-height: 21px;
            }
          }
        }
      }
    }
    .el-footer {
      height: 8.8125rem !important;

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      .el-row {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        .el-button {
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          // margin: auto;
          height: 2.5625rem;
          width: 2.5625rem;
          font-size: 1.28125rem;
          margin-left: 2rem;
        }
      }
    }
  }
  @keyframes scaleBig {
    0% {
      // transform: scale(1);
      // width: 11.3125rem;
      height: 20.625rem;
    }
    100% {
      // transform: scale(1.005);
      // width: 13.3125rem;
      height: 24.6875rem;
    }
  }
  @keyframes scaleSmall {
    0% {
      // transform: scale(1.005);
      // width: 13.3125rem;
      height: 24.6875rem;
    }
    100% {
      // transform: scale(1);
      // width: 11.3125rem;
      height: 20.625rem;
    }
  }
  @keyframes tanhuangsmall {
    0% {
      height: 10.3125rem;
      opacity: 1;
    }
    100% {
      height: 2.5rem;
      opacity: 0.8;
    }
  }
  @keyframes tanhuang {
    0% {
      height: 2.72rem;
      opacity: 0.81;
    }
    1% {
      height: 3.14rem;
      opacity: 0.81;
    }
    2% {
      height: 3.72rem;
      opacity: 0.83;
    }
    3% {
      height: 4.44rem;
      opacity: 0.84;
    }
    4% {
      height: 5.26rem;
      opacity: 0.86;
    }
    5% {
      height: 6.17rem;
      opacity: 0.88;
    }
    6% {
      height: 7.12rem;
      opacity: 0.9;
    }
    7% {
      height: 8.09rem;
      opacity: 0.93;
    }
    8% {
      height: 9.05rem;
      opacity: 0.95;
    }
    9% {
      height: 9.99rem;
      opacity: 0.97;
    }
    10% {
      height: 10.87rem;
      opacity: 0.99;
    }
    11% {
      height: 11.68rem;
      opacity: 1.01;
    }
    12% {
      height: 12.41rem;
      opacity: 1.03;
    }
    13% {
      height: 13.05rem;
      opacity: 1.04;
    }
    14% {
      height: 13.59rem;
      opacity: 1.05;
    }
    15% {
      height: 14.02rem;
      opacity: 1.06;
    }
    16% {
      height: 14.35rem;
      opacity: 1.07;
    }
    17% {
      height: 14.57rem;
      opacity: 1.07;
    }
    18% {
      height: 14.69rem;
      opacity: 1.08;
    }
    19% {
      height: 14.71rem;
    }
    20% {
      height: 14.65rem;
      opacity: 1.08;
    }
    21% {
      height: 14.51rem;
      opacity: 1.07;
    }
    22% {
      height: 14.3rem;
      opacity: 1.07;
    }
    23% {
      height: 14.03rem;
      opacity: 1.06;
    }
    24% {
      height: 13.73rem;
      opacity: 1.05;
    }
    25% {
      height: 13.39rem;
      opacity: 1.05;
    }
    26% {
      height: 13.02rem;
      opacity: 1.04;
    }
    27% {
      height: 12.65rem;
      opacity: 1.03;
    }
    28% {
      height: 12.28rem;
      opacity: 1.02;
    }
    29% {
      height: 11.92rem;
      opacity: 1.01;
    }
    30% {
      height: 11.57rem;
      opacity: 1.01;
    }
    31% {
      height: 11.25rem;
      opacity: 1;
    }
    32% {
      height: 10.96rem;
      opacity: 0.99;
    }
    33% {
      height: 10.7rem;
      opacity: 0.99;
    }
    34% {
      height: 10.49rem;
      opacity: 0.98;
    }
    35% {
      height: 10.31rem;
      opacity: 0.98;
    }
    36% {
      height: 10.17rem;
      opacity: 0.97;
    }
    37% {
      height: 10.08rem;
    }
    38% {
      height: 10.02rem;
    }
    39% {
      height: 10rem;
    }
    40% {
      height: 10.02rem;
    }
    41% {
      height: 10.07rem;
    }
    42% {
      height: 10.14rem;
      opacity: 0.97;
    }
    43% {
      height: 10.24rem;
      opacity: 0.98;
    }
    44% {
      height: 10.35rem;
    }
    45% {
      height: 10.48rem;
    }
    46% {
      height: 10.62rem;
      opacity: 0.98;
    }
    47% {
      height: 10.76rem;
      opacity: 0.99;
    }
    48% {
      height: 10.9rem;
    }
    49% {
      height: 11.04rem;
      opacity: 0.99;
    }
    50% {
      height: 11.18rem;
      opacity: 1;
    }
    51% {
      height: 11.3rem;
    }
    52% {
      height: 11.42rem;
    }
    53% {
      height: 11.52rem;
      opacity: 1;
    }
    54% {
      height: 11.61rem;
      opacity: 1.01;
    }
    55% {
      height: 11.68rem;
    }
    56% {
      height: 11.74rem;
    }
    57% {
      height: 11.78rem;
    }
    58% {
      height: 11.8rem;
    }
    59% {
      height: 11.81rem;
    }
    60% {
      height: 11.81rem;
    }
    61% {
      height: 11.8rem;
    }
    62% {
      height: 11.77rem;
    }
    63% {
      height: 11.74rem;
    }
    64% {
      height: 11.69rem;
    }
    65% {
      height: 11.65rem;
    }
    66% {
      height: 11.59rem;
    }
    67% {
      height: 11.54rem;
      opacity: 1.01;
    }
    68% {
      height: 11.48rem;
      opacity: 1;
    }
    69% {
      height: 11.43rem;
    }
    70% {
      height: 11.38rem;
    }
    71% {
      height: 11.33rem;
    }
    72% {
      height: 11.28rem;
    }
    73% {
      height: 11.24rem;
    }
    74% {
      height: 11.21rem;
    }
    75% {
      height: 11.18rem;
    }
    76% {
      height: 11.15rem;
    }
    77% {
      height: 11.14rem;
    }
    78% {
      height: 11.13rem;
    }
    79% {
      height: 11.12rem;
    }
    81% {
      height: 11.12rem;
    }
    82% {
      height: 11.13rem;
    }
    83% {
      height: 11.15rem;
    }
    84% {
      height: 11.16rem;
    }
    85% {
      height: 11.18rem;
    }
    86% {
      height: 11.2rem;
    }
    87% {
      height: 11.22rem;
    }
    88% {
      height: 11.24rem;
    }
    89% {
      height: 11.26rem;
    }
    90% {
      height: 11.28rem;
    }
    91% {
      height: 11.3rem;
    }
    92% {
      height: 11.32rem;
    }
    93% {
      height: 11.34rem;
    }
    94% {
      height: 11.35rem;
    }
    95% {
      height: 11.36rem;
    }
    96% {
      height: 11.37rem;
    }
    97% {
      height: 11.38rem;
    }
    98% {
      height: 11.38rem;
    }
    99% {
      height: 11.39rem;
    }
    100% {
      height: 11.39rem;
      opacity: 1;
    }
  }
}
