.loading {
    height: 100%;
    width: 100%;
    background: #222;
    position: absolute;
    .el-container {
        height: 100%;
        width: 100%;
        position: relative;
        .title {
            width: 29.9375rem;
            height: 11.1875rem;
            font-size: 9.1875rem;
            font-family: CenturyGothic;
            color: rgba(210, 172, 43, 1);
            line-height: 11.1875rem;
            margin: 11.5625rem auto 22.1875rem;
        }
        .loadingline {
            display: block;
            width: 41.6875rem;
            height: 5.25rem;
            position: absolute;
            top: 25.375rem;
            left: 50%;
            margin-left: -20.8125rem;
            .percent-show {
                position: absolute;
                width: 100%;
                height: 2rem;
                top: 2.0625rem;
                text-align: center;
                z-index: 20;
                line-height: 2rem;
                font-size: 1.5rem;
                font-family: CenturyGothic;
                color: rgba(255, 255, 255, 1);
            }
        }
        .el-footer {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            bottom: 2.9375rem;
            .logo {
                width: 2.25rem;
                height: 1.8125rem;
                text-align: center;
                margin: 0 auto;
            }
            .logo img {
                width: 100%;
                height: 100%;
            }
            p {
                width: 10.3125rem;
                height: 1rem;
                font-size: 0.8125rem;
                font-family: CenturyGothic;
                color: rgba(255, 255, 255, 1);
                line-height: 1rem;
                text-align: center;
                margin: 0 auto;
                margin-top: 0.375rem;
            }
        }
    }
}