.welcome {
  overflow: hidden;
  width: 1280px;
  height: 720px;
  // background-image: url("../assets/images/welcome/bg.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .logo {
    width: 5.0625rem;
    height: 4.1875rem;
    top: 4.5625rem;
    left: 4.875rem;
    position: absolute;
    img {
      height: 100%;
    }
  }
  .welcometitle {
    width: 16.6875rem;
    height: 7.6875rem;
    top: 16.1875rem;
    left: 4.875rem;
    position: absolute;
    // background: #4b13e4;
    .titles {
      font-size: 2.4rem;
      font-family: CenturyGothic-Bold;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      line-height: 2.6rem;
      letter-spacing: 0.0625rem;
      // background: yellow
    }
    .guestname {
      font-size: 2.6875rem;
      font-family: CenturyGothic-Bold;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      line-height: 2.8rem;
      letter-spacing: 0.0625rem;
    }
    .guestname.hide {
      display: none;
      line-height: 0;
      height: 0;
    }
  }

  .welcomedesc {
    width: 26.75rem;
    height: 8.625rem;
    font-size: 1.5rem;
    font-family: CenturyGothic;
    color: rgba(255, 255, 255, 1);
    line-height: 2.0625rem;
    top: 24.8125rem;
    left: 4.875rem;
    position: absolute;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .fadein {
    opacity: 100;
    filter: alpha(opacity=100);
  }
  .languagebtn {
    width: 100%;
    height: 2.0625rem;
    line-height: 2.0625rem;
    position: absolute;
    top: 38.375rem;
    left: 4.875rem;

    .btn {
      width: 6.6875rem;
      height: 1.6875rem;
      display: inline-block;
      vertical-align: middle;
      background: #fff;
      text-align: center;

      font-size: 1rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(47, 47, 47, 1);
      line-height: 1.6875rem;
      text-align: center;
      margin: auto;
      // -webkit-transition: height 0.1s ease-in, width 0.1s ease-in,
      //   font-size 0.1s ease-in;
      // transition: height 0.1s ease-in, width 0.1s ease-in,
      //   font-size 0.1s ease-in;
    }
    .btn.active {
      width: 8.3125rem;
      height: 2.0625rem;
      font-size: 1.3125rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(47, 47, 47, 1);
      line-height: 2.0625rem;
    }
  }
}
