<template>
  <transition name="v">
    <router-view />
  </transition>
</template>

<script>
import $ from "jquery";
export default {
  name: "app",
  components: {
  },
  created () {
    this.syncTime(); //同步时间
    this.getAllimages(); //获取所有图片字典
    this.checkRegister();
  },
  methods: {
    syncTime () {
      let that = this;
      console.log("domain", that.$root.DOMAIN)
      this.axios
        .get(that.$root.DOMAIN + "/util/now/")
        .then(json => {
          console.log("time", json);
          localStorage.nowTime = Number(json.data.data.timestamp)
          setInterval(() => {
            localStorage.nowTime = Number(Number(localStorage.nowTime) + 1)
          }, 1000);
        })
        .catch(function (err) {
          that.$notify.error({
            title: "错误",
            message: "同步服务器时间错误！" + err.message
          });
        });
    },

    getAllimages () {
      let that = this;
      this.axios
        .get(that.$root.DOMAIN + "/image/?" + $.param(that.$root.BASEDATA))
        .then(json => {
          localStorage.imgObj = JSON.stringify(json.data);
        })
        .catch(function (err) {
          that.$notify.error({
            title: "错误",
            message: "初始化图片错误！" + err.message
          });
        });
    },

    // 检测设备是否已经在后台注册
    checkRegister () {
      let that = this;
      this.axios
        .get(that.$root.DOMAIN + "/device/get/?" + $.param(that.$root.BASEDATA))
        .then(json => {
          console.log(json);
          localStorage.room = json.data.data.device.room;
        })
        .catch(function (err) {
          that.$notify.error({
            title: "错误",
            message: "查询设备注册状态" + err.message
          });
        });
    }
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 1280px;
  height: 720px; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.v-enter {
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}
.v-enter-active {
  transition: 1s;
} /*定义过渡时间*/
.v-leave {
  opacity: 1;
}
.v-leave-to {
  opacity: 0;
}
.v-leave-active {
  transition: 2s;
}
.left-enter {
  transform: translateX(100%);
} /*100%代表在屏幕外*/
.left-enter-to {
  transform: translateX(0);
}
.left-enter-active {
  transition: 1s;
}
.left-leave {
  transform: translateX(0);
}
.left-leave-to {
  transform: translateX(-100%);
}
.left-leave-active {
  transition: 0.5s;
}
.iconfont {
  font-size: 1.28125rem !important;
  margin-top: -0.1rem;
}
</style>
